.header{
  text-align: center;
}
.search{
  width: 300px;
  height: 40px;
  margin: 0 auto;
  background: #f1f3f4; /*#f1f3f4*/
  line-height: 40px;
  border-radius: 20px;
}
a{
  text-decoration: none;
}
.search input{
  font-size: 14px;
  height: 30px;
  width: 250px;
  border: none;
  background: #f1f3f4;
}
.listBox ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.listBox li{
  flex: 0 0 200px;
  list-style: none;
}
.box img{
  width: 200px;
  height: 100px;
}