html{
	font-size: 10px;
}
.header{
  text-align: center;
  width: 100%;
	/*background: #f1f3f4; */
}
.search{
  width: 20%;
  height: 4rem;
  margin: 2rem auto;
  background: #f1f3f4;
  line-height: 4rem;
  border-radius: 1rem;
}
a{
  	text-decoration: none;
	/*color: #666;*/
}
.search input{
	right: 0rem;
    font-size: 1.4rem;
	border-radius: 1rem;
    height:3rem;
	line-height: 3rem;
    width: 90%;
  	border: none;
  	background: #f1f3f4;
}

.pagination{
	text-align: center;
}
.pagination span{
	width: 10rem;
	height: 4rem;
	line-height: 4rem;
	background: #f1f3f4;
	color: #000;
	border-radius: 0rem;
}
/*class="swiper-pagination-bullet swiper-pagination-bullet-active"*/

@media screen and (min-width: 768px){
	.listBox{
	  width: 60%;
	  margin: 0 auto;
	}

	.listBox .swiper-wrapper{
		width: 100%;
	}

	.listBox ul{
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: start;
	  padding: 0;
	}
	
	.listBox li{
	  flex: 0 0 20rem;
	  list-style: none;
	  padding: 1rem;
	  margin: 2rem 2rem;
	  background: #f6f7f8;
	  box-sizing: border-box;
	  border-radius: 0.5rem;
	}
	.listBox .box-img{
		width: 20rem;
	}

	.listBox #page-content{
		padding: 0;
		margin: 2rem auto;
		text-align: center;
	}
}
.listBox li:hover{
  background: #fffae8;
}
.box img{
  width: 20rem;
  height: 25rem;
	border-radius: 0.5rem;
}
.box{
	position: relative;
}
.status{
	position: absolute;
	/*top: 1rem;*/
	right: 0rem;
	width: 8rem;
	line-height: 1.6em;
	background: rgba(0,0,0,.4);
	border-radius: 0.5rem;
	color: #fff;
	
}
input:focus{

  -webkit-tap-highlight-color:rgba(0,0,0,0);

  -webkit-user-modify:read-write-plaintext-only;
}

.title{
  font-size: 1.6rem;
  color: #000;
  margin: 1rem 0;
}
.from{
  font-size: 1.4rem;
}
.from-detail{
  color: #d76e43;
}
#title-top{
	width: 120rem;
	margin: 0 auto;
	font-size: 1.8rem;
	text-indent: 1em;
}
.fa-search{
	color: #888;
}
#tips{
	width: 30rem;
	height: 20rem;
	margin: 0 auto;
	font-size: 2rem;
	color: #666;
}
#tips .fa{
	margin-right: 2rem;
}

#page-content > a,span{
	margin: 0 0.5rem;
	font-size: 1.5rem;
}