.header{
  text-align: center;
}
.search{
  width: 300px;
  height: 40px;
  margin: 0 auto;
  background: #f1f3f4; /*#f1f3f4*/
  line-height: 40px;
  border-radius: 20px;
}
a{
  text-decoration: none;
}
.search input{
  font-size: 14px;
  height: 30px;
  width: 250px;
  border: none;
  background: #f1f3f4;
}
.listBox{
  width: 1200px;
  margin: 0 auto;
}
.listBox ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.listBox li{
  flex: 0 0 220px;
  list-style: none;
  margin: 20px 20px;
  padding: 10px;
  background: #f6f7f8;
  box-sizing: border-box;
  border-radius: 5px;
}
.listBox li:hover{
  background: #fffae8;
}
.box img{
  width: 200px;
  height: 250px;
}
input:focus{

  -webkit-tap-highlight-color:rgba(0,0,0,0);

  -webkit-user-modify:read-write-plaintext-only;
}
a {
  color: #666;
}
.title{
  font-size: 16px;
  color: #000;
  margin: 10px 0;
}
.from{
  font-size: 14px;
}
.from-detail{
  color: #d76e43;
}