# 配置模版，正式去掉后缀template

HttpAddr       = "127.0.0.1:12345"    # 服务器地址
TickDur        = 60                   # 日更新爬取时间间隔,单位秒

[Log]
LogPath        = "./log"              # 日志输出路径
LogName        = "crawler"            # 日志名字

[Download]
OutPath        = "./download"         # 下载路径
QueueSize      = 256                  # 下载队列大小
GoroutineCount = 2                    # 下载队列的处理线程数

[Analysis]
QueueSize      = 1024                 # 分析器队列大小
GoroutineCount = 2                    # 分析器队列的处理线程数

